<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    
</head>
<body id="body">
    <header>
        {% include './header.html' %}
        {% block search %}{% endblock search %}
        <span><a href="/tags">Tag</a></span>
        <span><a title="Links" href="/links">links</a></span>
    </header>
    <nav>
    	{% if success %}
    		{{success}}
    	{% endif %}
    	{% if error %}
    		{{error}}
    	{% endif %}
    </nav>
    <div class="content">
    	{% if user %}
    	<a href="logout">登出</a>
    	{% endif %}
        {% block content %}{% endblock content %}
    </div>
    <div class="comment">
        {% block comment %}{% endblock comment %}
    </div>
    <div class="page">
        {% block page %}{% endblock page %}
    </div>
    <footer>
        
    </footer>
</body>
</html>
