{% extends 'layout.html' %}

{% block content %}
<p>Welcome to {{title}}</p>
<form method="POST">
	<label for="Email">Email:</label>
	<input type="text" name="Email">
	<label for="Password">Password:</label>
	<input type="password" name="Password">
	<label for="FirstName">FirstName</label>
	<input type="text" name="FirstName">
	<label for="LastName">LastName</label>
	<input type="text" name="LaseName">
	<input type="submit" value="Reg">
</form>
<ul>
	<li><a href="forgotPassword">ForgotPassword ?</a></li>
	<li><a href="register">Register</a></li>
</ul>
{% endblock %}
